<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties resource="mapper/dbinfo.properties"/>

	<typeAliases> 
		<!-- user -->
		<typeAlias type="com.ssafy.trend_gaza.user.dto.ChangePwdRequest" alias="changePwdRequest" />
		<typeAlias type="com.ssafy.trend_gaza.user.dto.FindIdRequest" alias="findIdRequest" />
		<typeAlias type="com.ssafy.trend_gaza.user.dto.FindPwdRequest" alias="findPwdRequest" />
		<typeAlias type="com.ssafy.trend_gaza.user.dto.LoginRequest" alias="loginRequest" />
		<typeAlias type="com.ssafy.trend_gaza.user.dto.ModifyRequest" alias="modifyRequest" />
		<typeAlias type="com.ssafy.trend_gaza.user.dto.RegisterRequest" alias="registerRequest" />
		<!-- review -->
		<typeAlias type="com.ssafy.trend_gaza.review.dto.ReviewRegisterRequest" alias="reviewRegisterRequest" />
		<typeAlias type="com.ssafy.trend_gaza.review.dto.ReviewModifyResponse" alias="reviewModifyResponse" />
		<!-- like -->
		<typeAlias type="com.ssafy.trend_gaza.like.dto.LikeRequest" alias="likeRequest" />
		<!-- comment -->
		<typeAlias type="com.ssafy.trend_gaza.comment.dto.CommentRegisterRequest" alias="commentRegisterRequest" />
		<typeAlias type="com.ssafy.trend_gaza.comment.dto.CommentModifyResponse" alias="commentModifyResponse" />
	</typeAliases>
	
	<environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${dbid}"/>
                <property name="password" value="${dbpwd}"/>
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
		<mapper resource="mapper/user.xml" />
		
	</mappers>
	
</configuration>
